AgoraLegacy/Web References/getAccess/getAccess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://msg.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://msg.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://msg.org">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="checkaccessRequest">
    <wsdl:part name="compid" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="checkaccessResponse">
    <wsdl:part name="access" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="syncaccountRequest">
    <wsdl:part name="compid" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="syncaccountResponse">
    <wsdl:part name="sync" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="syncdetailRequest">
    <wsdl:part name="compid" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="syncdetailResponse">
    <wsdl:part name="detail" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getCompanyTypeRequest">
    <wsdl:part name="compid" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getCompanyTypeResponse">
    <wsdl:part name="comptype" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="checkaccessPortType">
    <wsdl:operation name="checkaccess">
      <wsdl:input message="tns:checkaccessRequest" />
      <wsdl:output message="tns:checkaccessResponse" />
    </wsdl:operation>
    <wsdl:operation name="syncaccount">
      <wsdl:input message="tns:syncaccountRequest" />
      <wsdl:output message="tns:syncaccountResponse" />
    </wsdl:operation>
    <wsdl:operation name="syncdetail">
      <wsdl:input message="tns:syncdetailRequest" />
      <wsdl:output message="tns:syncdetailResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCompanyType">
      <wsdl:input message="tns:getCompanyTypeRequest" />
      <wsdl:output message="tns:getCompanyTypeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="checkaccessBinding" type="tns:checkaccessPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="checkaccess">
      <soap:operation soapAction="http://localhost/interface/procurement_interface/getAccess.php/checkaccess" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="syncaccount">
      <soap:operation soapAction="http://localhost/interface/procurement_interface/getAccess.php/syncaccount" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="syncdetail">
      <soap:operation soapAction="http://localhost/interface/procurement_interface/getAccess.php/syncdetail" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompanyType">
      <soap:operation soapAction="http://localhost/interface/procurement_interface/getAccess.php/getCompanyType" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://soapinterop.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="checkaccess">
    <wsdl:port name="checkaccessPort" binding="tns:checkaccessBinding">
      <soap:address location="http://localhost/interface/procurement_interface/getAccess.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>